<div class="navbar mb-2 fixed w-full z-50 top-0 border-b bg-base-100 text-base-content" style="background-color: #191825;">
    <div class="container">
        <a class="navbar-brand" href="index">
            <img src="static/logo2.png" alt="Bootstrap" width="75" height="75">
        </a>
    </div>
    <div class="hidden px-2 mx-2 navbar-center lg:flex">
        <div class="flex items-stretch">
            <ul class="menu menu-horizontal">
                <li>
                    <a href="index" class="ghost-btn rounded-lg" style="background-color: #377cfb; color: #ffffff; margin-right: 10px;">Home</a>
                    <a href="pick_table" class="ghost-btn rounded-lg" style="background-color: #377cfb; color: #ffffff; margin-right: 10px;">Edit</a>
                    <a href="/about_us" class="ghost-btn rounded-lg" style="background-color: #377cfb; color: #ffffff; margin-right: 10px;">About Us</a>
                    <a href="contact_us" class="ghost-btn rounded-lg" style="background-color: #377cfb; color: #ffffff;">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
